<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
        <!-- img (click)="go('/inicio');" src="../assets/icon/imagen-corporativa-antella.png" width="30" height="40"/ -->
    </ion-buttons>
    <ion-title>
      <h2>{{ 'TORRE' | translate }}</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h1 style="text-align: center;padding: 3%;">{{ 'TORRE' | translate }}</h1>
      </ion-card-title>
      <ion-slides scrollbar="true">
        <ion-slide>
          <ion-img src="../assets/imagenes/torre/torre1.jpg"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="../assets/imagenes/torre/torre2.jpg"></ion-img>
        </ion-slide>
      </ion-slides>

      <ion-text style="justify-content: center;display: flex;text-align: center;padding: 5%;">
        << {{ 'SLIDER_TEXT' | translate }}>>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="warning" (click)="reproductor();">
        <ion-icon name="headset-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="audioActivado" color="warning" (click)="playAudio();">
        <ion-icon name="play"></ion-icon>
      </ion-button>
      <ion-button *ngIf="audioActivado" color="warning" (click)="stopAudio();">
        <ion-icon name="stop"></ion-icon>
      </ion-button>
      <p style="padding: 10%;">
        <ion-text style="padding: 10%;">{{ 'TORRE_CONTENT' | translate }}</ion-text>
      </p>
      
      <iframe 
        style="justify-content: center;display: flex;text-align: center;padding: 5%;"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d713.8109644179118!2d-0.5930578707812326!3d39.07882829872145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd61a7ae01474c23%3A0x61dbfca17041d55b!2sTorre%20%C3%A1rabe!5e1!3m2!1ses!2ses!4v1597055446590!5m2!1ses!2ses"
        width="400" 
        height="300" 
        frameborder="0" 
        style="border:0;" 
        allowfullscreen="" 
        aria-hidden="false" 
        tabindex="0">
      </iframe>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer-bar class="bar-balanced">&copy;Ajuntament d'Antella</ion-footer-bar>