<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
        <img src="../assets/icon/imagen-corporativa-antella.png" width="40" height="40"/>
    </ion-buttons>
    <ion-title>
      <h2>Contactans</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="principale">
    <img src="../../assets/imagen-corporativa-antella.jpg" style="padding: 5%;"/>
    <p>Ajuntament d'Antella</p>
    <p>Direcció: Plaça Major, 1 </p>
    <p>CP: 46266</p>
    <p>Telèfon: 962 59 50 02</p>
    <p>Correu: <a href="mailto:alcaldia@antella.es">alcaldia@antella.es</a></p>
    <p>Web: <a href="http://www.antella.es/">http://www.antella.es</a></p>
    <div>
      <ion-button color="warning" href="https://www.facebook.com/antella.es/">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button color="warning" href="https://twitter.com/AjAntella">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
      <ion-button color="warning" href="https://t.me/AntellaBot">
        <ion-icon name="paper-plane"></ion-icon>
      </ion-button>  
    </div>
    <img src="../../assets/contact_background.jpg" style="padding-top: 5%;"/>
  </div>
  
</ion-content>

<ion-footer-bar class="bar-balanced">&copy;Ajuntament d'Antella</ion-footer-bar>