<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
        <!-- img src="../assets/icon/imagen-corporativa-antella.png" width="30" height="40"/ -->
        
    </ion-buttons>
    <ion-title>
      <h2>Maera</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>
<img src="..\assets\imagenes\maeros\maeros.jpg">
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        La Maerà 
      </ion-card-title>

    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>L'Associació Cultural Maeros del Xúquer d'Antella és una entitat sense ànim de lucre que forma part de l’Associació Internacional de Ganxers, Raiers, Nabateros i Almadieros (International Association Timber-Raftsmen -IATR-), una organització supranacional que des del 2012 promou la candidatura del '‘Timber Rafting in Europe’ per a la inclusió del Transport Fluvial de Fusta en la Llista Representativa del Patrimoni Cultural Immaterial de la Humanitat de la UNESCO.</p>
        <p>Maeros del Xúquer és l'entitat organitzadora de la Maerà, una festa cultural de valor universal i excepcional que se celebra des de 2012 en el riu Xúquer al seu pas per Antella l’últim dissabte de juliol. En aquest esdeveniment es reviu, recrea i rememora l’ofici ja desaparegut i mil·lenari dels ganxers, i la conducció fluvial de fusta, una activitat que en el  Xúquer i el seu afluent el Cabriol està documentada des del segle XII.</p>
        <p>Durant la celebració, els ganxers i ganxeres d'Antella, coneguts com maeros i maeres, vestits amb la indumentària tradicional i aprofitant el corrent del riu, condueixen amb l'ajuda dels seus ganxos unes 10 tones de
        troncs, pel sistema de flotació de peces soltes, fins a l’Assut d’Antella, on són arrossegats fora de l’aigua amb l'ajuda de cavalleries, tal com es feia antigament.</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer-bar class="bar-balanced">&copy;Visit Antella</ion-footer-bar>
