<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
        <!-- img src="../assets/icon/imagen-corporativa-antella.png" width="30" height="40"/ -->
        
    </ion-buttons>
    <ion-title>
      <h2>La Maerà</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        La Maerà 
      </ion-card-title>
      <ion-slides scrollbar="true">
        <ion-slide>
          <ion-img src="..\assets\imagenes\maeros\maeros1.jpg"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="..\assets\imagenes\maeros\maeros2.jpg"></ion-img>
        </ion-slide>
      </ion-slides>
      <ion-text style="justify-content: center;display: flex;text-align: center;padding: 5%;">
        << {{ 'SLIDER_TEXT' | translate }}>>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>{{ 'MAEROS_CONTENT1' | translate }}</p>
        <p>{{ 'MAEROS_CONTENT2' | translate }}</p>
        <p>{{ 'MAEROS_CONTENT3' | translate }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer-bar class="bar-balanced">&copy;Visit Antella</ion-footer-bar>
