<!--ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
        <img (click)="go('/inicio');" src="../assets/icon/imagen-corporativa-antella.png" width="40" height="40"/>
    </ion-buttons>
    <ion-title>
      <h2>{{ 'LUGARES_DE_INTERES' | translate }}</h2>
    </ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>
    <ion-card class="home_card" (click)="go('/home');">
      <ion-card-content><h1>{{ 'LLOCS' | translate }}</h1></ion-card-content> 
    </ion-card>
    <ion-card class="maera_card" (click)="go('/maera');">
      <ion-card-content><h1>{{ 'MAERA' | translate }}</h1></ion-card-content>
    </ion-card>
    <ion-card class="servicios_card" (click)="go('/restaurant');">
      <ion-card-content><h1>{{ 'SERVICIS' | translate }}</h1></ion-card-content>
    </ion-card>
    <ion-card class="idioma_card" (click)="go('/idioma');">
      <ion-card-content><h1>{{ 'IDIOMA' | translate }}</h1></ion-card-content>
    </ion-card>  
</ion-content>

<ion-footer-bar class="bar-balanced">&copy;{{ 'AYUNTAMIENTO' | translate }}</ion-footer-bar>

